body {
	text-align: center;
	font-family: 'Rokkitt', serif;
}

h1{
	font-size: 10em;
	color: white;
	margin: 0;
}

h2{
	color: white;
	font-size: 5em;
	margin-bottom: 25px;
}

h3{
	color: black;
	font-size: 4em;
	margin-bottom: 15px;
	margin-top:500px;
}

img{
	border: 2px solid black;
	margin: 50px;
	max-width:80%;
}

p {
	color: black;
	font-size: 3em;
	margin-bottom: 40px;
	width: 75%;
	margin: auto;
}


.clerks {
	background: black;
	width: 100%;
	padding-top: 25%;
	padding-bottom: 25%;
	margin-top: 600px;
}

.clerks1 {
	background: black;
	width: 100%;
	padding-top: 25%;
	padding-bottom: 25%;
}

.video {
	margin-top: 100px;
	margin-bottom: 100px;
}


